{% extends 'base.html.twig' %}
{% block head %}
	<link rel="icon" href="{{asset('images/favicons/register.png')}}" type="image/x-icon">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('form') }}
{% endblock %}

{% block title %}{{ 'title'|trans({}, 'register')}}{% endblock %}

{% block body %}
	{# Captcha submit #}
	<script>
		function onSubmit(token) {
			document.getElementById("registerForm").submit();
		}
	</script>

    <div class="container mt-5 text-dark">
        {{ form_start(registrationForm, {'attr' : {'id':'registerForm', 'class' : 'customForm'}}) }}
            <h3 class="mb-3 text-white">{{ 'formTitle'|trans({}, 'register')|raw}}</h1>
            {% for flash_error in app.flashes('flash_error') %}
                <div class="alert alert-danger mb-2" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {% for flash_success in app.flashes('flash_success') %}
                <div class="alert alert-success mb-2" role="success">{{ flash_success }}</div>
            {% endfor %}

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.password.first) }}
            {{ form_row(registrationForm.password.second) }}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {{ form_row(registrationForm.save) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}