{# Page with instructions after email sending #}
{% extends 'base.html.twig' %}

{% block title %}{{ 'checkEmail.title'|trans({}, 'resetPassword')}}{% endblock %}

{% block body %}
	<div class="mt-3 h4">
		<p class="text-white">
			{{ 'checkEmail.p1'|trans({}, 'resetPassword')}}
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p class="text-white">
			{{ 'checkEmail.p2'|trans({}, 'resetPassword')}}
			<a href="/{{app.request.locale}}/reset-password">{{ 'checkEmail.tryAgain'|trans({}, 'resetPassword')}}</a>.
		</p>
	</div>
{% endblock %}
