{# Page for password reseting request #}
{% block head %}
	<link rel="icon" href="{{asset('images/favicons/reset.png')}}" type="image/x-icon">
{% endblock %}
{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'resetPassword')}}{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger my-2" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {{ form_start(requestForm, {'attr' : {'id':'registerForm', 'class' : 'customForm'}}) }}
            <h3 class="text-white mt-3">{{ 'form.title'|trans({}, 'resetPassword')|raw}}</h1>
            {{ form_row(requestForm.email) }}
            <div class="my-2 h5">
                <small class="text-white">
                    {{ 'form.info'|trans({}, 'resetPassword')}}
                </small>
            </div>

            <button class="btn w-100 btn btn-lg btn-warning">{{ 'form.button'|trans({}, 'resetPassword')}}</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
