{% extends 'base.html.twig' %}
{% block title %}My Account{% endblock %}

{% block body %}
<h1 class="text-white">My Account</h1>
<h3 class="text-white">Current email address : {{ app.user.username }}</h3>
<a href="/reset-password" class="link-primary">Reset my password</a>

<h1 class="text-white">Edit my email address</h1>
{% for flash_success in app.flashes('flash_success') %}
    <div class="alert alert-success" role="success">{{ flash_success }}</div>
{% endfor %}

{{ form_start(form) }}
    {{ form_row(form.new_email)}}
    {{ form_row(form.save) }}
{{ form_end(form) }}
{% endblock %}