{% extends 'base.html.twig' %}
{% block head %}
	<link rel="icon" href="{{asset('images/favicons/contact.png')}}" type="image/x-icon">
	<meta name="description" content="{{ 'meta'|trans({}, 'contact')}}">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('contact') }}
{% endblock %}

{% block javascripts %}
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block title %}Contact{% endblock %}

{% block body %}
	<script>
		function onSubmit(token) {
			document.getElementById("contactForm").submit();
		}
	</script>
	<div class="container text-dark mt-5">
		{{ form_start(form, {'attr' : {'id' : 'contactForm'}}) }}
			{% for flash_success in app.flashes('flash_success') %}
				<div class="alert alert-success my-2" role="success">{{ flash_success }}</div>
			{% endfor %}
			<h3 class="mb-2 text-white text-center">{{ 'titleForm'|trans({}, 'contact')}}</h3>
			{{ form_row(form.email) }}
			{{ form_row(form.message) }}
			{{ form_row(form.send) }}
		{{ form_end(form) }}
	</div>
{% endblock %}