{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({}, 'login')}}{% endblock %}

{% block body %}
	<div class="container mt-5">
		<form method="post" class="customForm">
			<h1 class="h3 mb-3 text-white">{{ 'formTitle'|trans({}, 'login')}}</h1>

			{% if error %}
				<div class="alert alert-danger mb-2">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<div class="form-floating text-dark mb-2">
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control customInput" 
					autocomplete="email" placeholder="{{ 'emailInput'|trans({}, 'login')}}" required>
				<label for="inputEmail">{{ 'emailInput'|trans({}, 'login')}}</label>
			</div>

			<div class="form-floating text-dark mb-2">
				<input type="password" name="password" id="inputPassword" class="form-control customInput" 
					autocomplete="current-password" placeholder="{{ 'passwordInput'|trans({}, 'login')}}" required>
				<label for="inputPassword">{{ 'passwordInput'|trans({}, 'login')}}</label>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	
			<button class="w-100 btn btn-lg btn-warning mb-2" type="submit">
				{{ 'submitButton'|trans({}, 'login')}}
			</button>
			<div class="g-recaptcha" data-sitekey="{{google_recaptcha_site_key}}"></div>
		</form>
		<a href="/reset-password" class="link-primary">{{ 'forgotPassword'|trans({}, 'login')}}</a>
	</div>
{% endblock %}
