{% extends 'base.html.twig'%}
{% block head %}
	<link rel="icon" href="{{asset('images/favicons/question.png')}}" type="image/x-icon">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('question') }}
{% endblock %}

{% block title %}{{ 'title'|trans({}, 'question') }}{% endblock %}
{% block body %}
	{# Questions #}
	<div class="container mt-5">
		<div>
			<h3>{{ 'question.utility'|trans({}, 'question') }}</h3>
			<p>{{ 'question.answer1'|trans({}, 'question') }}</p>
		</div>
		<div>
			<h3>{{ 'question.works'|trans({}, 'question') }}</h3>
			<p>{{ 'question.answer2'|trans({}, 'question') }}</p>
		</div>
		<div>
			<h3>{{ 'question.protection'|trans({}, 'question') }}</h3>
			<p>{{ 'question.answer3'|trans({}, 'question') }}</p>
		</div>
		<div>
			<h3>{{ 'question.whatPlatform'|trans({}, 'question') }}</h3>
			<p>{{ 'question.answer4'|trans({}, 'question') }}</p>
		</div>
	</div>

	{# Tutorial #}
	<div class="container mt-5 w-100">
		<h3 class="mb-3">{{ 'tutorial.title'|trans({}, 'question') }}</h3>
		<div class="row row-cols-1">
			<div class="col mb-3">
				<fieldset class="border rounded-3 p-3">
					<legend class="h3 text-white float-none w-auto px-3">
						<select class="form-select" id="selectExchange">
							<option value="Binance">Binance</option>
							<option value="Coinbase">Coinbase</option>
							<option value="FTX">FTX</option>
							<option value="Kucoin">Kucoin</option>
							<option value="Gate">Gate</option>
						</select>
					</legend>
					{# Binance tutorial #}
					<div class="row row-cols-1" id="binance">
						<div class="col mb-2">
							<h4>{{ 'tutorial.binance.browser'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/binance/binance1.png')}}" alt="api management">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.binance.mobile'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/binance/binance1-mobile.png')}}" alt="api management mobile">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.binance.create'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/binance/binance2.png')}}" alt="create api">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.binance.management'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/binance/binance3.png')}}" alt="api list">
						</div>
					</div>
					{# Coinbase tutorial #}
					<div class="row row-cols-1" id="coinbase" hidden>
						<h3 class="mb-3">{{ 'tutorial.coinbase.info'|trans({}, 'question') }}</h3>
						<div class="col mb-2">
							<h4>{{ 'tutorial.coinbase.add'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/coinbase/coinbase1.png')}}" alt="add">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.coinbase.login'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/coinbase/coinbase2.png')}}" alt="sign">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.coinbase.authorize'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/coinbase/coinbase3.png')}}" alt="authorize">
						</div>
					</div>
					{# FTX tutorial #}
					<div class="row row-cols-1" id="ftx" hidden>
						<div class="col mb-2">
							<h4>{{ 'tutorial.ftx.where'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/ftx/ftx1.png')}}" alt="where">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.ftx.generate'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/ftx/ftx2.png')}}" alt="generate">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.ftx.exit'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/ftx/ftx3.png')}}" alt="exit">
						</div>
					</div>
					{# Kucoin tutorial #}
					<div class="row row-cols-1" id="kucoin" hidden>
						<div class="col mb-2">
							<h4>{{ 'tutorial.kucoin.create'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/kucoin/kucoin2.png')}}" alt="create">
						</div>
						<div class="col mb-2">
							<img class="img-fluid" src="{{asset('images/tutorial/kucoin/kucoin3.png')}}" alt="create input field">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.kucoin.email'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/kucoin/kucoin4.png')}}" alt="email confirmation">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.kucoin.exit'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/kucoin/kucoin5.png')}}" alt="exit">
						</div>
					</div>
					{# Gate.io tutorial #}
					<div class="row row-cols-1" id="gate" hidden>
						<div class="col mb-2">
							<h4>{{ 'tutorial.gate.where'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/gate/gate1.png')}}" alt="where">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.gate.create'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/gate/gate2.png')}}" alt="api version">
						</div>
						<div class="col mb-2">
							<img class="img-fluid" src="{{asset('images/tutorial/gate/gate3.png')}}" alt="create button">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.gate.input'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/gate/gate4.png')}}" alt="input field">
						</div>
						<div class="col mb-2">
							<h4>{{ 'tutorial.gate.exit'|trans({}, 'question') }}</h4>
							<img class="img-fluid" src="{{asset('images/tutorial/gate/gate5.png')}}" alt="exit">
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
{% endblock %}
