{% extends 'base.html.twig'%}
{% block title %}Wallet{% endblock %}

{% block body %}
{% for flash_success in app.flashes('flash_success') %}
    <div class="alert alert-success" role="success">{{ flash_success }}</div>
{% endfor %}
{% for flash_error in app.flashes('flash_error') %}
    <div class="alert alert-danger" role="error">{{ flash_error }}</div>
{% endfor %}

{# Form for adding new wallet #}
{{ form_start(AddWalletForm) }}
    <h1 class="text-white">Add new wallet</h1>
    {{ form_widget(AddWalletForm) }}
{{ form_end(AddWalletForm) }}

<a href="{{ path('updateWalletPrice')}}" class="btn btn-outline-info">Update wallet price</a>

{# All wallet total value #}
<h1 class="text-primary">All Wallet Total: {{allWalletTotal}}$</h1>
{# Display all wallet name and data #}
{% for key, wallets in data %}
<div class="border">
    {# Wallet name #}
    <h3 class="text-danger">{{wallets['name']}}</h3>
    <div class="text-success">
        {# Wallet value #}
        <h3 class="text-warning">Total: {{eachWalletTotal[key]}}$</h3>
        {# each coin symbol, quantity, value for each wallet #}
        {% for d in data[key]['data'] %}
            <p>Symbol: {{d.symbol}}
            Quantity: {{d.quantity}}
            Value: {{d.value}}</p>
        {% endfor %}
    </div>
    {# Button for removing selected wallet #}
    <a class="btn btn-danger" href="{{ path('removeWallet', {'id': data[key]['id'] }) }}">Remove wallet</a>
</div>
<br>
{% endfor %}

<script>
    $(document).ready(function () {
        $('#add_wallet_name').change(function () {
            if ($('#add_wallet_name').val() == 'Kucoin'){
                $('#add_wallet_passPhrase').show();
            }else{
                $('#add_wallet_passPhrase').hide();
            }
        });
    });
</script>
{% endblock %}