{% extends 'base.html.twig'%}
{% block title %}Wallet{% endblock %}

{% block body %}

<h1 class="text-white">Wallet</h1>
{% for flash_success in app.flashes('flash_success') %}
    <div class="alert alert-success" role="success">{{ flash_success }}</div>
{% endfor %}
{% for flash_error in app.flashes('flash_error') %}
    <div class="alert alert-danger" role="error">{{ flash_error }}</div>
{% endfor %}

{# Form for adding new wallet #}
{{ form_start(AddWalletForm) }}
    <h1 class="text-white">Add new wallet</h1>
    {{ form_widget(AddWalletForm) }}
{{ form_end(AddWalletForm) }}

{# Display all wallet name, apiKey and secretKey #}
{% for wallet in wallets %}
    <h3 class="text-white">Wallet name: {{ wallet.name }}</h3>
    {# Display json data #}
    <div class="border">
        <h4 class="text-danger">JSON DATA</h4>
        {# Solution 1 pour parcourir la table dataJson #}
        {% for key, data in wallet.dataJson %}
            <p class="text-white">Name: {{data.asset}} Amount: {{data.quantity}}</p>
        {% endfor %}
        {# Solution 2 pour sélectionner des données par leur index #}
        {# <p class="text-white">Name: {{wallet.dataJson.0.asset}}</p>
        <p class="text-white">Amount: {{wallet.dataJson.0.free}}</p> #}
    </div>

    <a class="btn btn-danger" href="{{ path('removeWallet', {'id': wallet.id }) }}">Remove wallet</a>
{% endfor %}

<script>
    $(document).ready(function () {
        $('#add_wallet_name').change(function () {
            if ($('#add_wallet_name').val() == 'Coinbase') {
                $('#add_wallet_secretKey').hide();
            } else {
                $('#add_wallet_secretKey').show();
            }

            if ($('#add_wallet_name').val() == 'Kucoin'){
                $('#add_wallet_passPhrase').show();
            }else{
                $('#add_wallet_passPhrase').hide();
            }
        });
    });
</script>
{% endblock %}