{% extends 'base.html.twig'%}
{% block title %}Wallet{% endblock %}

{% block body %}

{% for flash_success in app.flashes('flash_success') %}
    <div class="alert alert-success" role="success">{{ flash_success }}</div>
{% endfor %}
{% for flash_error in app.flashes('flash_error') %}
    <div class="alert alert-danger" role="error">{{ flash_error }}</div>
{% endfor %}

{# Form for adding new wallet #}
{{ form_start(AddWalletForm) }}
    <h1 class="text-white">Add new wallet</h1>
    {{ form_widget(AddWalletForm) }}
{{ form_end(AddWalletForm) }}

<a href="{{ path('getAllCoinsPrice')}}" class="btn btn-outline-info">Get All Coins Price</a>
<a href="{{ path('updateWalletPrice')}}" class="btn btn-outline-info">Update wallet price</a>

{# All wallet total value #}
<h1 class="text-primary">All Wallet Total: {{allWalletTotal}}</h1>
{# Display all wallet name and dataJson #}
{% for key, wallet in wallets %}
    {# Display json data #}
    <div class="border">
        <h3 class="text-white">Wallet name: {{ wallet.name }}</h3>
        {# Wallet total value #}
        <h3 class="text-success">Total: {{eachWalletTotal[key]}}</h3>
        <h4 class="text-danger">JSON DATA</h4>
        {# Solution 1 pour parcourir la table dataJson #}
        {% for data in wallet.dataJson %}
            <p class="text-white">
                Name: {{data.symbol}} Quantity: {{data.quantity}} 
                {% if data.value != '0' %}
                    Value: {{data.value}}$
                {% else %}
                    Value: Can't find price
                {% endif %}
            </p>
        {% endfor %}
        {# Solution 2 pour sélectionner des données par leur index #}
        {# <p class="text-white">Name: {{wallet.dataJson.0.symbol}}</p> #}
        {# <p class="text-white">Amount: {{wallet.dataJson.0.quantity}}</p> #}
    </div>

    <a class="btn btn-danger" href="{{ path('removeWallet', {'id': wallet.id }) }}">Remove wallet</a>
{% endfor %}

<script>
    $(document).ready(function () {
        $('#add_wallet_name').change(function () {
            if ($('#add_wallet_name').val() == 'Kucoin'){
                $('#add_wallet_passPhrase').show();
            }else{
                $('#add_wallet_passPhrase').hide();
            }
        });
    });
</script>
{% endblock %}