{% set route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<meta name="twitter:title" content="cwm twitter account">
	<meta name="twitter:description" content="We share the updates on our twitter account">
	<meta name="twitter:url" content="https://twitter.com/cryptowalletmonitoring">
	<meta name="twitter:card" content="summary">
	
	{% block head %}
		{# favicon here #}
	{% endblock %}

	<title>
		{% block title %}Welcome!{% endblock %}
	</title>
	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}

	{% block javascripts %}
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</head>

<body class="d-flex flex-column h-100 text-white bg-dark">
	<div class="min-vh-100 d-flex w-75 h-100 mx-auto flex-column">
		<header>
			<div>
				<nav class="navbar nav-masthead navbar-expand-lg navbar-dark border-bottom py-3">
					<div class="container">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNavBar" aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation" id="hamburger">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="myNavBar">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								<li class="nav-item">
									<a class="nav-link {% if route == 'home' %}active{% endif %}" href="{{path("home")}}">{{ 'navbar.home'|trans({}, 'base')}}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if route == 'question' %}active{% endif %}" href="{{path("question")}}">{{ 'navbar.question'|trans({}, 'base')}}</a>
								</li>
								<li class="nav-item">
									<a class="nav-link {% if route == 'contact' %}active{% endif %}" href="{{path("contact")}}">Contact</a>
								</li>
								{% if app.user %}
									<li class="nav-item">
										<a class="nav-link {% if route == 'wallet' %}active{% endif %}" href="{{path("wallet")}}">{{ 'navbar.wallet'|trans({}, 'base')}}</a>
									</li>
									<li class="nav-item">
										<a class="nav-link {% if route == 'account' %}active{% endif %}" href="{{path("account")}}">{{ 'navbar.account'|trans({}, 'base')}}</a>
									</li>
								{% endif %}
							</ul>
							<ul class="navbar-nav me-auto mb-2 mb-lg-0">
								{% if app.user %}
										<a class="btn btn-danger" href="{{path("logout")}}" id="logoutButton">{{ 'navbar.logout'|trans({}, 'base')}}</a>
								{% else %}
										<a class="btn btn-success me-2" href="{{path("login")}}" id="loginButton">{{ 'navbar.login'|trans({}, 'base')}}</a>
										<a class="btn btn-primary" href="{{path("register")}}" id="registerButton">{{ 'navbar.register'|trans({}, 'base')}}</a>
								{% endif %}
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</header>
		<main>
			{% block body %}{% endblock %}
		</main>
		<footer class="footer mt-auto border-top pt-2">
			<div class="container">
				<p>
					{{ 'footer'|trans({}, 'base')}}
				</p>
			</div>
		</footer>
	</div>
</body>
</html>

